.button {
  @include apply-utility('weight', 'bold');
  --transition-duration: 350ms;
  --hover-translate: -50%, -50%;

  --default-color: var(--theme-color-bg);
  --hover-color: var(--theme-color-fg);
  --default-bg: var(--color-light-highlight);
  --hover-bg: var(--theme-color-accent);

  background: 0;
  border: 0;
  border-radius: 2em;
  color: hsl(var(--default-color));
  display: inline-block;
  font-size: get-size('300');
  line-height: 1;
  overflow: hidden; // contain the pseudo-elements
  padding: 1rem 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-curve);
  z-index: 1;

  .icon > path {
    fill: currentColor;
  }

  &:hover {
    &::after {
      transform: translateZ(0) translate(var(--hover-translate)) scale(1);
    }
  }

  &[type='submit'] {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
    filter: grayscale(50%);

    // Remove all interactions
    color: hsl(var(--default-color)) !important;
    &::after {
      transform: none;
    }
  }

  &::before {
    background-color: hsl(var(--default-bg));
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }

  &::after {
    --transition-duration: 450ms;
    background-color: hsl(var(--hover-bg));
    border-radius: 50%;
    content: '';
    height: 800px;
    left: 0;
    top: 0;
    width: 800px;
    position: absolute;
    transform: translateZ(0) translate(var(--hover-translate)) scale(0);
    transition: transform var(--transition-duration) var(--transition-curve);
    z-index: -1;
  }

  // Variant for secondary buttons (eg. forms)
  &[data-variant='secondary'] {
    --default-bg: var(--theme-color-tint);
    --hover-bg: var(--theme-color-accent);
    --hover-color: var(--theme-color-bg);
    --default-color: var(--theme-color-fg);

    &:hover {
      color: hsl(var(--hover-color));
    }

    &::before {
      background-color: hsl(var(--default-bg));
    }

    &::after {
      background-color: hsl(var(--hover-bg));
    }
  }
}

a.button {
  cursor: pointer;
}
