/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* For older browsers */
  font-size: calc(0.4625em + 1vw);
  font-size: min(max(1em, calc(0.4625em + 1vw)), 22px);
  /* Newer browsers */
  font-size: clamp(1em, 0.4625em + 1vw, 22px);
}

@font-face {
  font-family: 'Lunchtype Regular';
  src: url('assets/lunchtype22-regular-webfont.woff2') format('woff2'),
    url('assets/lunchtype22-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Lunchtype Expanded';
  src: url('assets/lunchtype24-regular-expanded-webfont.woff2') format('woff2'),
    url('assets/lunchtype24-regular-expanded-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Lunchtype Expanded Medium';
  src: url('assets/lunchtype24-medium-expanded-webfont.woff2') format('woff2'),
    url('assets/lunchtype24-medium-expanded-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Lunchtype Condensed';
  src: url('assets/lunchtype25-regular_condensed-webfont.woff2') format('woff2'),
    url('assets/lunchtype25-regular_condensed-webfont.woff') format('woff');
}

:root {
  --font-regular: 'Lunchtype Regular';
  --font-expanded: 'Lunchtype Expanded';
  --font-expanded-medium: 'Lunchtype Expanded Medium';
  --font-condensed: 'Lunchtype Condensed';

  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-tertiary: #eeeeee;
  --color-accent: #2f80ed;

  --flow-space: 16px;
}

/* Styles */
body {
  font-family: var(--font-regular), Arial, -apple-system, sans-serif;
  line-height: 1.45;
}

main {
  padding-bottom: 3em;
}

h1 {
  font-family: var(--font-expanded-medium);
  line-height: 1.1;
  letter-spacing: -0.02em;
  font-size: 3.6rem;
}

h1 + p {
  font-size: 1.2rem;
}

h2 {
  font-family: var(--font-expanded-medium);
  line-height: 1.1;
  font-size: 2.5rem;
  margin-bottom: var(--flow-space);
}

h2 span {
  font-family: var(--font-regular);
  font-size: 1rem;
  display: block;
}

h3 {
  font-family: var(--font-expanded);
  font-size: 2rem;
  line-height: 1.1;
}

a[class] {
  text-decoration: none;
}

a.button {
  display: inline-block;
  font-family: var(--font-condensed);
  font-size: 1.2rem;
  padding: 0.2em 1em;
  text-align: center;
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-radius: 1.5em;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
  box-shadow: 0 0 0 2px var(--color-accent);
}

.wrapper {
  padding: 0 var(--flow-space);
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--flow-space) 0;
  margin-bottom: 1em;
}

.logo img {
  max-width: 8em;
}

/* Header */

header div {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  text-align: center;
}

header div > * {
  margin-left: auto;
  margin-right: auto;
}

header div > * + * {
  margin-top: var(--flow-space);
}

header div p {
  max-width: 25ch;
}

header div a {
  /* align-self: flex-start; */
  margin-top: calc(var(--flow-space) * 1.5);
}

header img {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Logo garden */

.partners {
  margin-top: var(--flow-space);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  max-width: 464px;
}

.partners img {
  max-width: 88px;
}

article:first-of-type {
  margin-top: 2em;
  padding: 5em 0 7em;
  background-color: var(--color-tertiary);
}

article:first-of-type small {
  font-size: 1rem;
}

article:first-of-type h2 span {
  margin-bottom: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  box-shadow: -30px -30px 60px 0 rgba(255 255 255 / 0.35),
    30px 30px 60px 0 rgba(202 202 202 / 0.35);
  border-radius: 0.5em;
}

.card p {
  max-width: 28ch;
  margin: 2em auto;
}

.card img {
  object-fit: contain;
}

article:nth-of-type(2) {
  margin-top: 3em;
  text-align: center;
}

article:nth-of-type(2) p:last-of-type {
  font-size: 1.5rem;
  line-height: 1.25;
  max-width: 22ch;
  margin: 1rem auto 0;
}

article:nth-of-type(2) > div {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 0.5em;
}

.exponant {
  font-family: var(--font-expanded-medium);
  font-size: 5rem;
}

.carousel {
  overflow-x: hidden;
  height: 40vh;
}

.cta {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cta * + * {
  margin-top: 1rem;
}

.cta div {
  display: flex;
  flex-direction: column;
}

.cta div > * {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.cta h3 {
  max-width: 15ch;
}

.cta p {
  max-width: 30ch;
}

footer.wrapper {
  padding-top: 2em;
}

footer {
  border-top: 1px solid var(--color-tertiary);
}

footer {
  display: flex;
  justify-content: space-between;
}

footer p {
  max-width: 25ch;
  text-align: center;
}

footer a {
  display: block;
  color: inherit;
}

footer img {
  max-width: 8em;
}

footer img:not(:first-child) {
  display: none;
}
