/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-size: clamp(1rem, 0.4625em + 1vw, 22px);
}

@font-face {
  font-family: 'Lunchtype Regular';
  src: url('assets/lunchtype22-regular-webfont.woff2') format('woff2'),
    url('assets/lunchtype22-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Lunchtype Expanded';
  src: url('assets/lunchtype24-regular-expanded-webfont.woff2') format('woff2'),
    url('assets/lunchtype24-regular-expanded-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Lunchtype Expanded Medium';
  src: url('assets/lunchtype24-medium-expanded-webfont.woff2') format('woff2'),
    url('assets/lunchtype24-medium-expanded-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Lunchtype Condensed';
  src: url('assets/lunchtype25-regular_condensed-webfont.woff2') format('woff2'),
    url('assets/lunchtype25-regular_condensed-webfont.woff') format('woff');
}

:root {
  --font-regular: 'Lunchtype Regular';
  --font-expanded: 'Lunchtype Expanded';
  --font-expanded-medium: 'Lunchtype Expanded Medium';
  --font-condensed: 'Lunchtype Condensed';

  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-tertiary: #eeeeee;
  --color-accent: #2f80ed;

  --flow-space: 16px;
}

/* Styles */
body {
  font-family: var(--font-regular), Arial, -apple-system, sans-serif;
  line-height: 1.45;
}

h1 {
  font-family: var(--font-expanded-medium);
  line-height: 1.1;
  letter-spacing: -0.02em;
  font-size: 4rem;
}

h1 + p {
  font-size: 1.2rem;
}

a[class] {
  text-decoration: none;
}

a.button {
  display: inline-block;
  padding: 0.4em 1em;
  margin-top: var(--flow-space);
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-radius: 1.5em;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
  box-shadow: 0 0 0 2px var(--color-accent);
}

.wrapper {
  padding: 0 var(--flow-space);
  max-width: 1440px;
  margin: 0 auto;
}
