.form {
  --border-color: 206 80% 86%;

  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 1rem;
  }
}

.field {
  color: hsl(var(--theme-color-fg));
  display: flex;
  flex-direction: column;

  label,
  legend {
    color: hsl(var(--color-dark-tint));
    font-size: 1rem;
    font-feature-settings: 'ss02' off;
    line-height: 1;
    margin-bottom: 1rem;
  }

  legend {
    font-size: 1.2rem;
  }

  fieldset {
    align-items: center;
    border-radius: calc(var(--border-radius) / 2);
    border: 1px solid hsl(var(--border-color));
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  fieldset label {
    margin-bottom: 0;
  }

  fieldset > * {
    align-items: center;
    display: flex;
  }

  fieldset label + input {
    margin-left: 0.5rem;
  }

  input:not([type='submit']),
  select,
  textarea {
    border: 0;
    box-shadow: 0;
    background: 0;

    border: 1px solid hsl(var(--border-color));
    border-radius: 4px;
    color: hsl(var(--theme-color-fg));
    line-height: 1.2;
  }

  input:not([type='submit'], [type='radio']),
  textarea {
    padding: 0.75rem 1rem;
  }

  // Specific for the input not to overflow
  input[type='text'] {
    width: 100%;
    max-width: 100%;
  }

  select {
    font-size: 1rem;
    min-height: 3rem;
    padding-left: 0.5rem;
  }
}

.date {
  /* Make the date input stay above the buttons */
  z-index: 2;
}
