@import 'fonts';
@import 'config';
@import 'gorko';
@import 'reset';

:root {
  --color-light-main: #{get-color('light')};
  --color-light-shade: #{get-color('light-shade')};
  --color-light-highlight: #{get-color('light-highlight')};

  --color-dark-main: #{get-color('dark')};
  --color-dark-shade: #{get-color('dark-shade')};
  --color-dark-highlight: #{get-color('dark-highlight')};
  --color-dark-tint: #{get-color('dark-tint')};
}

:root {
  --theme-color-bg: var(--color-dark-main);
  --theme-color-fg: var(--color-light-main);
  --theme-color-hg: var(--color-dark-highlight);
  --theme-color-tint: var(--color-dark-tint);
}

body {
  background-color: hsl(var(--theme-color-bg));
  color: hsl(var(--theme-color-fg));
  font-size: get-size('400');
  font-feature-settings: 'ss02' on;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;

  /* Most of the text is dark on light which means the text will be bolder */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include apply-utility('leading', 'tight');
  @include apply-utility('font', 'poppins');
}

a:not([class]) {
  color: hsl(var(--theme-color-fg));
  text-decoration-color: currentColor;
}

h1,
h2,
h3,
h4,
h5 {
  font-feature-settings: 'ss02' off;
}

li:not([class]) {
  list-style: none;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

main:focus {
  outline: none;
}

::selection {
  background: hsla(var(--theme-color-hg) / 0.99);
}

@import 'blocks/button';

@import 'utilities/align-center';
@import 'utilities/auto-grid';
@import 'utilities/blend';
@import 'utilities/explicit-grid';
@import 'utilities/flow';
@import 'utilities/no-list';
@import 'utilities/radius';
@import 'utilities/ss02';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
