/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* For older browsers */
  font-size: calc(0.4625em + 1vw);
  font-size: min(max(1em, calc(0.4625em + 1vw)), 22px);
  /* Newer browsers */
  font-size: clamp(1em, 0.4625em + 1vw, 22px);
}

@font-face {
  font-family: 'Lunchtype Regular';
  src: url('/assets/lunchtype22-regular-webfont.woff2') format('woff2'),
    url('/assets/lunchtype22-regular-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Lunchtype Expanded';
  src: url('/assets/lunchtype24-regular-expanded-webfont.woff2') format('woff2'),
    url('/assets/lunchtype24-regular-expanded-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Lunchtype Expanded Medium';
  src: url('/assets/lunchtype24-medium-expanded-webfont.woff2') format('woff2'),
    url('/assets/lunchtype24-medium-expanded-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Lunchtype Condensed';
  src: url('/assets/lunchtype25-regular_condensed-webfont.woff2')
      format('woff2'),
    url('/assets/lunchtype25-regular_condensed-webfont.woff') format('woff');
  font-display: swap;
}

:root {
  --font-regular: 'Lunchtype Regular';
  --font-expanded: 'Lunchtype Expanded';
  --font-expanded-medium: 'Lunchtype Expanded Medium';
  --font-condensed: 'Lunchtype Condensed';

  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-tertiary: #eeeeee;
  --color-accent: #2f80ed;

  --flow-space: 16px;
}

/* Styles */
body {
  font-family: var(--font-regular), --apple-system, Arial, Helvetica, sans-serif;
  line-height: 1.45;
}

main {
  padding-bottom: 3em;
}

h1 {
  font-family: var(--font-expanded-medium);
  line-height: 1.1;
  letter-spacing: -0.02em;
  font-size: 3.6rem;
}

h1 + p {
  font-size: 1.2rem;
}

h2 {
  font-family: var(--font-expanded-medium);
  line-height: 1.1;
  font-size: 2rem;
  margin-bottom: var(--flow-space);
}

h2 span {
  font-family: var(--font-regular);
  font-size: 1rem;
  display: block;
}

h3 {
  font-family: var(--font-expanded);
  font-size: 2rem;
  line-height: 1.1;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

a[class] {
  text-decoration: none;
}

.button {
  display: inline-block;
  font-family: var(--font-condensed);
  font-size: 1.2rem;
  padding: 0.2em 1em;
  text-align: center;
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-radius: 1.5em;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: var(--color-accent);
}

header .menu-toggle {
  position: absolute;
  top: 12px;
  right: 32px;
  font-size: 1rem;
  font-family: var(--font-regular);
  z-index: 10;
}

.menu-toggle rect {
  fill: currentColor;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  max-width: 600px;
  height: 100vh;

  display: grid;
  place-items: center;
  background-color: var(--color-accent);
  z-index: 1; /* Keep it above everything else */

  transform: translateX(100%);
  transition: transform 0.5s 0s cubic-bezier(0.77, 0, 0.18, 1);
}

.nav .nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-expanded-medium), sans-serif;
  font-size: 3rem;
  color: var(--color-primary);
}

.nav .nav__list > * + * {
  margin-top: 0.4em;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav .nav__list .lgg-link {
  font-family: var(--font-expanded), sans-serif;
  margin-top: 2em;
  font-size: 1.5rem;
}

.lgg-link.active {
  display: none;
}

.nav.is-open {
  transform: translateX(0);
  transition-delay: 0.2s;
}

.button:hover,
.button:focus {
  background-color: var(--color-primary);
  color: var(--color-accent);
  box-shadow: 0 0 0 2px var(--color-accent);
}

.wrapper {
  padding: 0 var(--flow-space);
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--flow-space) 0;
  margin-bottom: 1em;
}

.logo img {
  max-width: 8em;
}

.skip-link {
  position: absolute;
  top: 2em;
  left: 2em;
  z-index: 99;
}

.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* .intro */

.intro {
  text-align: center;
}

.intro div {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

.intro div > * {
  margin-left: auto;
  margin-right: auto;
}

.intro div > * + * {
  margin-top: var(--flow-space);
}

.intro div p {
  max-width: 25ch;
}

.intro div a {
  /* align-self: flex-start; */
  margin-top: calc(var(--flow-space) * 1.5);
}

.intro img {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Logo garden */

.partners {
  margin-top: var(--flow-space);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  max-width: 464px;
}

.partners img {
  max-width: 88px;
}

.value {
  margin-top: 2em;
  padding: 5em 0 7em;
  background-color: var(--color-tertiary);
}

.value small {
  font-size: 1rem;
}

.value h2 span {
  margin-bottom: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 2em auto 0;
  padding: 1em;
  max-width: 20em;
  text-align: center;
  box-shadow: -30px -30px 60px 0 rgba(255 255 255 / 0.35),
    30px 30px 60px 0 rgba(202 202 202 / 0.35);
  border-radius: 0.5em;
}

.card p {
  max-width: 28ch;
  margin: 2em auto;
}

.card img {
  object-fit: contain;
}

.examples {
  margin-top: 3em;
  text-align: center;
}

.examples p:last-of-type {
  font-size: 1.5rem;
  line-height: 1.25;
  max-width: 22ch;
  margin: 1rem auto 0;
}

.examples > div {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 0.5em;
}

.exponant {
  font-family: var(--font-expanded-medium);
  font-size: 5rem;
}

.carousel {
  overflow-x: hidden;
  height: 40vh;
}

.main-cta {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-cta * + * {
  margin-top: 1rem;
}

.main-cta div {
  display: flex;
  flex-direction: column;
}

.main-cta div > * {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.main-cta h3 {
  max-width: 15ch;
}

.main-cta p {
  max-width: 30ch;
}

footer.wrapper {
  padding-top: 2em;
}

footer {
  border-top: 1px solid var(--color-tertiary);
}

footer {
  display: flex;
  justify-content: space-between;
}

footer p {
  max-width: 25ch;
  text-align: center;
}

footer a {
  display: block;
  color: inherit;
}

footer img {
  max-width: 8em;
}

footer img:not(:first-child) {
  display: none;
}

.products > * + * {
  margin-top: 4rem;
  text-align: center;
}

.product .price {
  font-family: var(--font-expanded), sans-serif;
  font-size: 1.5em;
}

.product button {
  font-size: 1.5em;
}

.product img {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 30em) {
  .value h2:not(span) {
    font-size: 2.5rem;
    max-width: 17ch;
  }

  .value small {
    display: block;
    max-width: 44ch;
  }

  .card:first-of-type {
    margin-top: 5em;
  }
}

@media (min-width: 37em) {
  .value .wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .value h2,
  small {
    grid-column: 1 / span 2;
  }

  .card {
    margin-left: 0;
    margin-right: 0;
    grid-column: 1/2;
    justify-self: center;
  }

  .card:nth-of-type(2) {
    grid-row: 4;
    grid-column: 2/3;
  }

  .card:last-of-type {
    grid-row: 5;
  }
}

@media (min-width: 60em) {
  :root {
    --flow-space: 32px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  .intro {
    --flow-space: 16px;

    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    text-align: left;
  }

  .intro div {
    grid-column: 2 / span 5;
    align-self: center;
  }

  .intro div > * {
    margin-left: unset;
  }

  .intro img {
    grid-column: 7 / span 6;
  }

  .value .wrapper {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
  }

  .value {
    padding-top: 8em;
    -webkit-clip-path: polygon(0px 4%, 100% 0px, 100% 96%, 0% 100%);
    clip-path: polygon(0px 4%, 100% 0px, 100% 96%, 0% 100%);
  }

  .value h2 {
    grid-column: 2 / span 7;
  }

  .value small {
    align-self: center;
    grid-column: 9 / span 4;
    font-size: 0.8rem;
  }

  .card {
    grid-column-start: 2;
    grid-column-end: span 4;
  }

  .card:nth-of-type(2) {
    grid-column: 8 / span 4;
  }

  .card:nth-of-type(3) {
    grid-column-start: 3;
  }

  .card + .card {
    margin-top: -3em;
  }

  .examples {
    margin-bottom: 5rem;
  }

  .examples h2 {
    margin: 0 auto 2em;
    max-width: 15ch;
  }

  .examples > div {
    flex-direction: row;
    justify-content: space-between;
  }

  .examples p {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .examples p:last-of-type {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: unset;
    align-self: center;
    padding-right: var(--flow-space);
  }

  .exponant {
    font-size: 8rem;
    padding-left: var(--flow-space);
  }

  .carousel {
    position: absolute;
    height: 30vw;
    width: 50vw;
    left: 50%;
    transform: translate(-50%, -10%);
    max-width: 720px;
    max-height: 432px;
    border-radius: 0.5em;

    box-shadow: 0 0 8px 4px rgba(0 0 0 / 0.1);
  }

  .carousel iframe {
    display: block;
    overflow: hidden;
    border-radius: 0.5em;
  }

  .main-cta {
    flex-direction: row;
    text-align: left;
    justify-content: space-evenly;
  }

  .main-cta div {
    align-self: center;
  }

  .main-cta > div > * {
    margin-inline-start: unset;
    margin-inline-end: unset;
  }

  .main-cta img {
    max-width: 464px;
    margin-right: 16px;
  }

  .main-cta a {
    align-self: flex-start;
  }

  footer.wrapper {
    padding-bottom: 2em;
  }

  footer img:not(:first-child) {
    display: block;
    object-fit: cover;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 2em;
  }

  .products > * + * {
    margin-top: 0;
  }

  .product img {
    width: 20vw;
  }

  .product h2 {
    font-size: 2rem;
  }
}
