{% extends "layouts/base.html" %}

{% if locale == 'fr-CA' %}
    {% set cards = collections.cartes %}
{% else %}
    {% set cards = collections.cards %}
{% endif %}

{% block content %}
    <article class="intro wrapper">
            <div class="intro__content">
                <h1>{{ intro.headline }}</h1>
                <p>{{ intro.sub }}</p>
                <a href="https://forms.gle/NxDMmnEw4EABsPNr5" class="button">{{ intro.buttonText }}</a>
            </div>
            <img src="/assets/humanity-location.png" alt="{{ 'hero' | i18n }}">
    </article>

    {% include "partials/partners.html" %}

    <article class="value">
        <div class="wrapper">
            <h2>
                <span>{{ value.sub }}</span>
                {{ value.headline }}
            </h2>
            <small>
                {{ value.description }}
            </small>
            {% for card in cards %}
                <div class="card">
                    <img src="{{ card.data.image }}" alt="">
                    <p>{{ card.data.title}}</p>
                </div>
            {% endfor %}
        </div>
    </article>

    <article class="examples wrapper">
        <h2>{{ examples.title }}</h2>
        <div>
            <p class="exponant">{{ examples.exponant }}</p>
            <p>{{ examples.description }}</p>
            <div class="carousel">
                <iframe
                    src=""
                    width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                    aria-hidden="false" tabindex="0" title="Otaku Manga Lounge"></iframe>
            </div>
        </div>
    </article>

    <article class="main-cta">
        <img src="{{ mainCta.image.src }}" alt="{{ mainCta.image.alt }}">
        <div claass="main-cta__content">
            <h3>{{ mainCta.title }}</h3>
            <p>{{ mainCta.description }}</p>
            <a href="mailto:{{ site.email }}" class="button">{{ mainCta.buttonText }}</a>
        </div>
    </article>

{% endblock %}