{% extends "layouts/base.html" %}

{% set pageScripts = [
    { module: 'loadProducts', src: '/scripts/load-products.js'}
] %}

{% block content %}
    <div class="products wrapper">
        <template id="product">
            <article class="product">
                <img src="" alt="">
                <h2>Name</h2>
                <p class="description">Description</p>
                <p class="price">Price</p>
                <form action="" method="POST">
                    <input type="hidden" name="sku" value="" />
                    <button type="submit" class="button">{{ 'buy' | i18n }}</button>
                </form>
            </article>
        </template>
    </div>
{% endblock %}