{# 
  From https://github.com/adamduncan/eleventy-plugin-i18n-demo/blob/master/src/_includes/components/language-selector.njk 
  With a few modifications
#}

{% set pageUrl = page.url.split('/').slice(2).join('/') %}

{% if languages.length %}
  {% for language in languages -%}
  {% set active = 'active' if language.code == locale else '' %}
    <li class="lgg-link {{ active }}">
      <a href="/{{ language.code }}/{{ pageUrl }}" rel="alternate" hreflang="{{ language.code }}">{{ language.label }}
      </a>
    </li>
  {% endfor -%}
{% endif %}