<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>

<header role ="banner" class="wrapper">
    <a href="/{{ locale }}/" aria-lable="{{ site.name }} - home">
        {% include "partials/logo.svg" %}
    </a>

    <a href="#" class="menu-toggle">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="6" y="10" width="28" height="4" fill="black" class="burger__top" />
            <rect x="6" y="18" width="28" height="4" fill="black" class="burger__mid" />
            <rect x="6" y="26" width="28" height="4" fill="black" class="burger__bottom" />
        </svg>
    </a>

    <nav class="nav" aria-label="Primary">
        <ul class="nav__list">
            <li>
                <a href="/{{ locale }}/examples/">{{ 'examples' | i18n }}</a>
            </li>
            <li>
                <a href="/{{ locale }}/store/">{{ 'store' | i18n }}</a>
            </li>
            {% include "partials/language-selector.html" %}
        </ul>
    </nav>

</header>